@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-flow {
  background: linear-gradient(45deg, #0b1217, #1a232d, #070a0f); /* Even darker colors */
  background-size: 400% 400%;
  animation: gradient-flow 9s ease infinite; /* Slower animation */
}